*{
  margin: 0;padding: 0;box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #548687;
}
.container{
background-color: white;
}
.player1,.player2{
background:#77cacb;
width: 100%;
height: auto;
display: flex;
overflow: none;
color: white;
border: solid 0.3px grey;
}
.turn1,.turn2{
  width: 50%;
  border: solid;
  padding: 15px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: grey;
  color: darkgrey;
}
#turn1{
  background-color: green;
  color: white;
}
.score1,.score2{
  width: 50%;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding: 15px 0px;
  font-weight: 700;

}
.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;  
  justify-items: center;
  align-items: center;
  padding: 10px;
  background: #000;
  height: 70%;
  
}
.card {
  width: 70px;
  height: 70px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: purple;
  border-radius: 10px;
  cursor: pointer;
  color: transparent; 
  transition: transform 0.4s ease , color 0.5s ease;
}

.card.flipped {
  color: white; 
  transform: rotateY(180deg);
  
}

.card.flipper{
  color: transparent;
  transform: rotateY(180deg);
}

.restart-container {
  position: fixed;   
  top: 0;
  left: -100%;      
  width: 100%;
  height: 100%;
  background-color: rgba(199, 195, 195, 0.587);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.8s ease-in-out;
  z-index: 9999; 
}
.restart-container.active {
  left: 0;
}

.restart-content {
  text-align: center;
}
#restart {
  color: white;
  background-color: green;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


